<!doctype html>
<html ng-app="proyectoApp">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
        <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css" />
        <link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.css" />
        <!-- endbower -->
    <a href="index.html"></a>
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body  ng-controller="homeController">
        <!--[if lte IE 8]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div layout="row" layout-fill>


             <md-sidenav class="md-sidenav-left md-whiteframe-z2 md-hue-1" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <md-toolbar class="md-tall md-hue-2">
          <header layout-padding>
              <img class="md-heading" style="width: 80%" src="images/ievents-logo.png"/>
             
          </header>
      </md-toolbar>
                 <md-content layout="column" class="md-hue-1" >
                 <md-button href="#/home">Inicio</md-button>
                 <md-button href="#/eventos">Eventos</md-button>
                 <md-button href="#/contratos">Contratos</md-button>
                 <md-button href="#/ventaEntradas">Venta Entradas</md-button>
                 </md-content>
     
    </md-sidenav>
            <div layout="column" flex>
            <md-toolbar >
                <div class="md-toolbar-tools">
                    <span>{{top.index}}</span>
                    <!-- fill up the space between left and right area -->
                    <span flex></span>

                </div>
            </md-toolbar>


            
                
                <div  ng-view=""></div>
    

       
            </div>
        </div>

        


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
            !function (A, n, g, u, l, a, r) {
                A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
            }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-XXXXX-X');
            ga('send', 'pageview');
        </script>

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-material/angular-material.js"></script>
        <script src="bower_components/moment/moment.js"></script>
        <script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
        <script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
        <script src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/homeController.js" type="text/javascript"></script>
        <script src="scripts/controllers/contratos.js" type="text/javascript"></script>
        <script src="scripts/controllers/contratos/showContrato.js" type="text/javascript"></script>
        <script src="scripts/controllers/contratos/editContrato.js" type="text/javascript"></script>
        <script src="scripts/controllers/evento.js" type="text/javascript"></script>
        <script src="scripts/controllers/eventos/showEvent.js" type="text/javascript"></script>
        <script src="scripts/controllers/eventos/editEvent.js" type="text/javascript"></script>
        <script src="scripts/controllers/ventaEntradas.js" type="text/javascript"></script>
        <!-- endbuild -->
    </body>
</html>
