<md-content>
    <md-button class="md-raised" ng-click="crearContrato()">crear contrato</md-button>
    
   <md-table-container>
  <table md-table md-row-select ng-model="selected" >
    <thead md-head>
      <tr md-row>
        <th md-column>Nombre</th>
        <th md-column>Dirección emplazamiento</th>
        <th md-column md-numeric>Aforo</th>
        <th md-column>Fecha Inicio</th>
        <th md-column>Fecha Fin</th>
        <th md-column>Cliente</th>
        <th md-column>Opciones</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="contrato" md-select-id="id" md-auto-select ng-repeat="contrato in contratos">
        <td md-cell>{{contrato.nombre}}</td>
        <td md-cell>{{contrato.direccion}}</td>
        <td md-cell>{{contrato.aforo}}</td>
        <td md-cell>{{contrato.fechaInicio}}</td>
        <td md-cell>{{contrato.fechaFinal}}</td>
        <td md-cell>{{contrato.cliente}}</td>
        <td md-cell>
    <md-button class="md-fab md-mini" ng-click="showContrato(contrato)"><md-icon>remove_red_eye</md-icon></md-button>
            <md-button class="md-fab md-mini" ng-click="editContrato(contrato)"><md-icon>edit</md-icon></md-button>
            <md-button class="md-fab md-mini" ng-click="borrarContrato(contrato)"><md-icon>delete</md-icon></md-button>

        </td>

      </tr>
    </tbody>
  </table>
</md-table-container>
</md-content>