<md-dialog aria-label="Lista contratos">
  <md-dialog-content>
      <md-toolbar >
                <div class="md-toolbar-tools">
                    <span>Ver contrato</span>
                    <!-- fill up the space between left and right area -->
                    <span flex></span>

                </div>
            </md-toolbar>
      
      <div layout="row" class="content_menu">

          <div flex="20" layout="column" class="menu_items">
              <md-input-container>
                  <label>Nombre</label>
                  <input ng-model="contrato.nombre">
              </md-input-container>
              <md-input-container>
                  <label>Cliente</label>
                  <input ng-model="contrato.cliente">
              </md-input-container>
              <md-input-container>
                  <label>Contrato</label>
                  <input ng-model="contrato.contrato">
              </md-input-container>
              <md-input-container>
                  <label>FechaCreacion</label>
                  <input type="date" ng-model="contrato.fechaCreacion">
              </md-input-container>
              <md-input-container>
                  <label>FechaInicio</label>
                  <input type="date" ng-model="contrato.fechaInicio">
              </md-input-container>


          </div>
           <div flex="20" layout="column" class="menu_items">
              <md-input-container>
                  <label>Estado</label>
                  <input ng-model="contrato.estado">
              </md-input-container>
              <md-input-container>
                  <label>Dirección</label>
                  <input ng-model="contrato.direccion">
              </md-input-container>
              <md-input-container>
                  <label>Precio</label>
                  <input ng-model="contrato.precio">
              </md-input-container>
              <md-input-container>
                  <label>Aforo</label>
                  <input ng-model="contrato.aforo">
              </md-input-container>
              
          </div>
         
          <div flex="5"></div>
          <div flex="50" layout="column">
              <div class="tableView">
                  <h1>Servicios</h1>
                  <table md-table >
                      <thead md-head>
                          <tr md-row>
                              <th md-column>Nombre Servicio</th>
                              <th md-column>Descripción</th>
                          </tr>
                      </thead>
                      <tbody md-body ng-repeat="servicio in servicios">
                      <td md-cell>{{servicio.nombre}}</td>
                      <td md-cell>{{servicio.descripcion}}</td>
                      </tbody>
                  </table>
                  <div class="actionsDownTable" ng-show="contrato.id" layout="row">
                      <md-input-container>
                          <label>Nombre Servicio</label>
                          <input ng-model="servicioAdd.nombre">
                      </md-input-container>
                      <md-input-container>
                          <label>Descripción</label>
                          <input ng-model="servicioAdd.descripcion">
                      </md-input-container>
                      <md-button>Añadir</md-button>
                  </div>
              </div>
              
              <div class="tableView">
                  <h1>Patrocionadores Posibles</h1>
                  <table md-table >
                      <thead md-head>
                          <tr md-row>
                              <th md-column>Nombre Patrocionador</th>
                              <th md-column>Contacto</th>
                          </tr>
                      </thead>
                      <tbody md-body ng-repeat="patrocinador in patrocinadores">
                        <td md-cell>{{patrocinador.nombre}}</td>
                        <td md-cell>{{patrocinador.contacto}}</td>
                      </tbody>
                  </table>
                  <div class="actionsDownTable" ng-show="contrato.id" layout="row">
                      <md-input-container>
                          <label>Nombre Patrocinador</label>
                          <input ng-model="patrocinador.nombre">
                      </md-input-container>
                      <md-input-container>
                          <label>Contacto</label>
                          <input ng-model="patrocinador.contacto">
                      </md-input-container>
                      <md-button>Añadir</md-button>
                  </div>
              </div>
          </div>
          <div flex></div>
      </div>

  </md-dialog-content>
  <md-dialog-actions>
      <md-button ng-click="save()" class="md-primary">Guardar</md-button>
    <md-button ng-click="cancel()" class="md-primary">Cerrar Dialogo</md-button>
  </md-dialog-actions>
</md-dialog>