<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="iEvents_Emplazamiento">
        <wb-resource deploy-path="/" source-path="/WC_iEvents_Emplazamiento" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="iEvents_Emplazamiento"/>
        <property name="java-output-path" value="/iEvents_Emplazamiento/build/classes"/>
    </wb-module>
</project-modules>
