/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-may-2016, 19:14:02
    Author     : Pablo
*/

.content_menu {
    width: 931px;
}

.menu_element h1 {
    font-size: 15px;
}

.tableView h1 {
    margin-left: 21px;
    font-size: 20px;
}