<md-content>
    <md-button class="md-raised" ng-click="crearEvento()">crear evento</md-button>
    
   <md-table-container>
  <table md-table md-row-select ng-model="selected" >
    <thead md-head>
      <tr md-row>
        <th md-column>Nombre</th>
        <th md-column>Dirección emplazamiento</th>
        <th md-column md-numeric>Aforo</th>
        <th md-column>Fecha Inicio</th>
        <th md-column>Fecha Fin</th>
        <th md-column>Cliente</th>
        <th md-column>Opciones</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="evento" md-select-id="id" md-auto-select ng-repeat="evento in eventos">
        <td md-cell>{{evento.nombre}}</td>
        <td md-cell>{{evento.direccion}}</td>
        <td md-cell>{{evento.aforo}}</td>
        <td md-cell>{{evento.fechaInicio}}</td>
        <td md-cell>{{evento.fechaFinal}}</td>
        <td md-cell>{{evento.cliente}}</td>
        <td md-cell>
    <md-button class="md-fab md-mini" ng-click="showEvento(evento)"><md-icon>remove_red_eye</md-icon></md-button>
            <md-button class="md-fab md-mini" ng-click="editEvent(evento)"><md-icon>edit</md-icon></md-button>
            <md-button class="md-fab md-mini" ng-click="borrarEvento(evento)"><md-icon>delete</md-icon></md-button>

        </td>

      </tr>
    </tbody>
  </table>
</md-table-container>
</md-content>