<md-dialog aria-label="Lista eventos">
  <md-dialog-content>
      <md-toolbar >
                <div class="md-toolbar-tools">
                    <span>Ver evento</span>
                    <!-- fill up the space between left and right area -->
                    <span flex></span>

                </div>
            </md-toolbar>
      
      <div layout="row" class="content_menu">
          
          <div flex="20" layout="column" class="menu_items">
              <div class="menu_element" >
                  <h1>Nombre</h1>
                  <p>{{evento.nombre | capitalize}}</p>
              </div>
              <div class="menu_element" >
                  <h1>Cliente</h1>
                  <p>{{evento.cliente | capitalize}}</p>
              </div>
              <div class="menu_element" >
                  <h1>Contrato</h1>
                  <p>{{evento.contrato | capitalize}}</p>
              </div>
              <div class="menu_element" >
                  <h1>Fecha Creacion</h1>
                  <p>{{evento.fechaCreacion}}</p>
              </div>
              <div class="menu_element" >
                  <h1>Fecha Inicio</h1>
                  <p>{{evento.fechaInicio}}</p>
              </div>
              
          </div>
           <div flex="20" layout="column" class="menu_items">
               <div class="menu_element" >
                  <h1>Estado</h1>
                  <p>{{evento.estado}}</p>
              </div>
              <div class="menu_element" >
                  <h1>Dirección</h1>
                  <p>{{evento.direccion}}</p>
              </div>
              <div class="menu_element" >
                  <h1>Precio</h1>
                  <p>{{evento.precio}} €</p>
              </div>
              <div class="menu_element" >
                  <h1>Aforo</h1>
                  <p>{{evento.aforo}}</p>
              </div>
              
          </div>
         
          <div flex="5"></div>
          <div flex="50" layout="column">
              <div class="tableView">
                  <h1>Servicios</h1>
                  <table md-table >
                      <thead md-head>
                          <tr md-row>
                              <th md-column>Nombre Servicio</th>
                              <th md-column>Descripción</th>
                          </tr>
                      </thead>
                      <tbody md-body ng-repeat="servicio in servicios">
                        <td md-cell>{{servicio.nombre}}</td>
                        <td md-cell>{{servicio.descripcion}}</td>
                      </tbody>
                  </table>
              </div>
              
              <div class="tableView">
                  <h1>Patrocionadores Posibles</h1>
                  <table md-table >
                      <thead md-head>
                          <tr md-row>
                              <th md-column>Nombre Patrocionador</th>
                              <th md-column>Contacto</th>
                          </tr>
                      </thead>
                      <tbody md-body ng-repeat="patrocinador in patrocinadores">
                        <td md-cell>{{patrocinador.nombre}}</td>
                        <td md-cell>{{patrocinador.contacto}}</td>
                      </tbody>
                  </table>
              </div>
          </div>
          <div flex></div>
      </div>

  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="cancel()" class="md-primary">Cerrar Dialogo</md-button>
  </md-dialog-actions>
</md-dialog>